@model VolunteerMngSystm.Models.Users

@{
    Layout = "~/Views/Shared/_OrgLayout.cshtml";
    ViewData["Title"] = "OrgEdit";
}

<h1>To be Chnaged when details for this page have been decided on exactly</h1>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
