@model VolunteerMngSystm.Models.Users;

@{
    Layout = "~/Views/Shared/_OrgLayout.cshtml";
    ViewData["Title"] = "Main Menu";
}

<h1>Main Menu</h1>

<h5>What would you like to do?</h5>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="OrgReg">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <a class="btn btn-outline-info" asp-area="" asp-controller="Users" asp-action="CreateTask">Create new Task</a>
            </div>
            <div class="form-group">
                <a class="btn btn-outline-info" asp-area="" asp-controller="Users" asp-action="ActiveTaskList">Active Tasks</a>
            </div>
            <div class="form-group">
                <a class="btn btn-outline-info" asp-area="" asp-controller="Users" asp-action="PreviousTaskList">Previouse Tasks</a>
            </div>
        </form>
    </div>
</div>

@*<div>
    <a asp-action="Index">Back to List</a>
</div>*@

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}